* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #d3d3d3;
}


a {
  text-decoration: none;
}

header {
    
  background: #0d343a ;
}

header h1{
  color: #fff;
  font-size: 70px;
  text-shadow: 1px 1px 2px white;
  text-align: center;
}

header h2 {
  text-align: center;
  color: #fff;
}

.menu {
  list-style: none;
  padding: 0;
  background: #092327 ;
  width: 100%;
  text-align: center;
  margin: auto;
}

.menu li a { 
  text-decoration: none;
  color: #fff;
  padding: 20px;
  display: block;
}

.menu li {
  display: inline-block;
  text-align: center;
  }
  
  .menu li a:hover {
  background: #1f9cc5;
  transition: 0.6s ;
  }

section {
  margin-left: 7%;
}


footer {
  background-color: black;
  color: #fff;
  text-align: center;   
  height: 40px; 
  font-size: 10px;
  padding-top: 18px;
}

.flex-container{
  display: flex;
  padding: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  margin:0px auto 0px auto ;
  justify-content: center;
  }

.caja {
  border: 1px solid rgb(58, 57, 57);
  background-color: #fff;
  color: black;
  font-weight: bold;
  width: 350px;
  height: 350px;
  margin: 5px;
  font-size: 15px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 7px 7px 17px 1px rgba(9,35,39,0.74);
  -webkit-box-shadow: 7px 7px 17px 1px rgba(9,35,39,0.74);
  -moz-box-shadow: 7px 7px 17px 1px rgba(9,35,39,0.74);
    

}

section img {
    
    width: 150px;
    margin-left: 25%;
    margin-right: 20%;
}

.boxes {
    border: 1px solid rgb(58, 57, 57);
    background-color: #fff;
    color: black;
    font-weight: bold;
    width: 350px;
    height: 350px;
    margin: 5px;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: 7px 7px 17px 1px rgba(9,35,39,0.74);
    -webkit-box-shadow: 7px 7px 17px 1px rgba(9,35,39,0.74);
    -moz-box-shadow: 7px 7px 17px 1px rgba(9,35,39,0.74);

}

 ul{
    list-style: none;
 }

 p {
    font-size: 16px;
    text-align: justify;
 }

 section h3 {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
 }

 section p {
    margin-left: 20px;
    margin-right: 20px;
 }

 .form-register {
    width: auto;
    
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    /* color: white; */
    /* box-shadow: 7px 13px 37px #000; */
    margin-left: 10%;
  }

  .form-register h4 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .controls {
    width: auto;
    
    padding: auto;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1fc564;
    font-family: 'calibri';
    font-size: 20px;
    /* color: white; */
  }

  .form-register .botons {
    width: auto;
    background: #1fc564;
    border: none;
    padding: 12px;
    color: white;
    
    font-size: 16px;
    border-radius: 10px;
  }

  .botons:hover {
    background: #326146;
  }

  .form-register h5 {
    font-size: 20px;
  }

  .caja a {
    color: rgb(31, 67, 146);
  }

  .caja a:hover {
    /* color: rgb(14, 23, 43); */
    color: #1fc564;
  }

  .listas h3 {
    font-size: 24px;
    
  }

  .listas li {
    font-size: 20px;
  }

  .listas a {
    color: #000;
  }
  .listas a:hover{
    color: #18693a;
    transition: 0.2s ;
  }
